doctype html
html.no-js(lang="en")
	head
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title=title

		block styles
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/bower_components/bootstrap/dist/css/bootstrap.min.css')
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css')
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/bower_components/dropzone/dist/basic.css')
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/bower_components/dropzone/dist/dropzone.css')
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/stylesheets/bootswatch-superhero.css')
			link(rel="stylesheet", href=process.env.APP_BASE_URL+'/stylesheets/common.css')
	body
		.container
			include topbar.pug
			block content
			//- include footer.pug

		block script
			script(src=process.env.APP_BASE_URL+'/bower_components/jquery/dist/jquery.min.js')
			script(src=process.env.APP_BASE_URL+'/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.js')
			script(src=process.env.APP_BASE_URL+'/bower_components/dropzone/dist/dropzone.js')
			script(src=process.env.APP_BASE_URL+'/bower_components/bootstrap/dist/js/bootstrap.min.js')